.Body-Form{
    background-color:rgb(7, 7, 17);
    display: flex;
    justify-content: center;    
}
.imgg{
    width: 100%;
}
h2{
    color: white;
    font: bold;
 text-align: center;
 
}
.inputss{
    position: relative;
    outline: none;
    border: none;
    margin: 4px;
    border-radius: 10px;
    padding: 4px;
}
input:focus{

transform: scale(1.1);
    
}
button:hover{
    background-color: rgb(55, 55, 145);
    letter-spacing: 0.5px;
}
 .infoo{
    color: white;
    
 }
.Main-Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 300px;
    background: rgb(19, 18, 18);
    
    height: fit-content;
    width: 20%;
    height: 30%;


}
.button-signin{
    border-radius: 4px;
    color:white ;
    border: none;
    outline: none;
    cursor: pointer;
    height: 30px;
    background-color:rgb(18, 18, 83) ;
    }
    
.signup{
    color: white;
}
.choosing-type{
    position: relative;
    display: block;
    top: -610px;
    left: 680px;
    color: white;
}