.slider {
  display: block;
  width: 100%;
}
.slider-layout{
  margin-top: 50px;
  display: block;
  width: 100%;
}
.image {
  display: block;
  width: 700px;
  z-index: -5;
  border-radius: 10px;
  margin: auto;
  padding: 2rem;
}
.arrow {
  font-size: 3rem;
  color: #ffffff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
  margin-left: -25%;
  margin-right: -25%;
  z-index: -1000;
}
.slide.active {
  opacity: 1;
  transform: scale(0.998);
  transition-duration: 1.5s;
  z-index: -1000;
  background-color: rgba(0, 0, 0, 0.577);
  padding: 2rem;
  margin-top: -13px;
}
.arrange{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  
}
@media only screen and (max-width: 870px)
{
    .arrow{
      display:flex;
      font-size: 2.5rem;
    }
    .image{
      width: 300px;
    }
}
.indexed{
  z-index: 1000;
}