.Body-Form{
  
    display: flex;
    justify-content: center;    
}
.imgg{
    width: 100%;
}
h2{
    color: white;
    font: bold;
    text-align: center;
 
}
.inputss{
    position: relative;
    outline: none;
    border: none;
    margin: 4px;
    border-radius: 10px;
    padding: 4px;
    width: 75%;
}
input:focus{

transform: scale(1.1);
    
}
button:hover{
    background-color: rgb(55, 55, 145);
    letter-spacing: 0.5px;
}
 .infoo{
    color: white;
    
 }
.Main-Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 300px;
    background: rgba(255, 255, 255, 0.126);
    height: fit-content;
    width: 30%;
    min-height: 30%;
}
.form-item-container{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

}
.button-signin{
    border-radius: 4px;
    color:white ;
    border: none;
    outline: none;
    cursor: pointer;
    height: 30px;
    background-color:rgb(18, 18, 83) ;
    }
    
.signup{
    color: white;
}


@media only screen and (max-width: 1000px)
{
    .imgg{
        height: 92vh;
        width: 100%;
        
     }
}

.change-form{
    margin-top: 5px;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.1rem
}
.change-form-button{
    margin: 0;
}
.change-form-container{
    margin-top: 12px;
}
.msg{
    color:red;
    font-weight: 550;
    font-size: 20px;
}