@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

.main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    background-color: #EFEFEF;
    color: #3C3A36;
}
.list{
    display:flex;
    flex-direction: row;
    gap: 3.5rem;
    list-style: none;
    padding: 0.8rem;
}
.name,.list-container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.home{
    background-color: #EFEFEF;
}
.name{
    font-size: 30px;
    margin-left: 1.2rem;
    color:black;

}
.nav-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.font{
    font-family: 'Shantell Sans', cursive;
    font-weight: 600;
}
.img{
    margin-left: 0.3rem;
}
.list-container{
    font-size: 17px;
    margin-top: 3px;
}
.list-item{
    padding: 0.4rem; 
    cursor: pointer;
    font-weight: 600;
}

.listsvg{
    display:none;
    cursor:pointer;
}


@media only screen and (max-width: 690px) {
    .main{
        height: 50px;
    }
    .list {
      gap: 2rem;
      font-size: 12px;
    }
    .list-container{
        font-weight: 600;
        display: none;
    }
    .name{
        font-size: 25px;
    }
    .nav-head{
        display:flex;
        align-items: center;
        margin-top: 5px;
    }
    .cart{
        margin-top: 6px;
    }
    .listsvg-container{
        display: block;
    }
    .listsvg{
        font-size: 22px;
        margin-left: 1rem;
        display:block;
    }
}



.cart{
    margin-right: 1rem;
    margin-top: 0.5rem;
    font-size: 28px;
    cursor: pointer;
}

.link{
    text-decoration: none;
    color: inherit;
}
  
.login-container{
    height: 30px;
    width: 50px;
    position: absolute;
    right: 3px;
    margin-right: 0.5rem;
  
}
.login-container-2{
    position: absolute;
    right: 50px;
    top: 15px;
    cursor: pointer;
   
    
}
.home-login{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgb(88, 80, 80);
    border-radius: 4px;
    color: white;
 
    
}
.list-att{
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;
    background-color: #EFEFEF;
    width: 15rem;
    z-index: 1000;
}

@media only screen and (min-width: 690px)
{
    .login-container-2{
        display: none;
    }
    .list-att{
        display:none;
    }
}


.list-list{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    gap: 1rem;
    color: black;
    font-size: 18px;
    font-weight: 550;
}
.list-list-item{
    cursor: pointer;
    z-index: -100;
}
.close-list{
    cursor: pointer;
    margin-left: 10rem;
    position: absolute;
    top: 10px;
    font-size: 25px;
    color:black;
    font-weight: bold;

}