.form1{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap:1rem;
    margin-top: 3rem;
    outline: none;
    border: none;
    border-radius: 10px;
    
}
.form1-data{
    border: none;
    outline: none;
   border-radius: 15px;
   padding: 5px;

}
.finduser-button{
    background-color:rgb(20, 8, 8);
    color:white;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
}
.finduser-button:hover{
    background-color:red;
    letter-spacing:0.5px;
}

.getuser-button{
    background-color:rgb(20, 8, 8);
    color:white;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
}
.getuser-button:hover{
    background-color:red;
    letter-spacing:0.5px;
}

.change-button{
    background-color:rgb(20, 8, 8);
    color:white;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
}
.change-button:hover{
    background-color:red;
    letter-spacing:0.5px;
}

.output1{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:2rem;
    margin-top: 0.5rem;

}
